{% extends 'blog/base.html' %}

{% block title%}
    {{title}}
{% endblock %}

{% block content %}

    <h2>Все статьи от автора: {{ view.kwargs.username }}</h2>
    <h4>Количество статей автора: {{ page_obj.paginator.count }}</h4>
    {% for post in news %}
        <div class="alert alert-light">
            <h3>{{post.title}}</h3>
            <p>{{ post.text|striptags|truncatechars:200 }}</p>
            <div class="row">
                <div>
                    <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_images">

                <div class="mt-2">
                    <span class="text-muted">Публикация: {{ post.date|date:"d E Y в: H:i" }}</span>
                    {% if post.avtor %}
                        <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
                    {%else%}
                        <p><b>Автор:</b> <mark>Админ</mark></p>
                    {%endif%}
                </div>
            </div>
                 </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Читать далее</a>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <button class="btn btn-outline-danger">{{ num }}</button>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                <a href="?page={{ num }}" class="btn btn-outline-danger"> {{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img class='img-thumbnail ' src="https://itproger.com/img/news/1678386582.jpg" alt="">
<p>Многие хотят изучить программирование, чтобы создать свою игру. Но что для этого нужно, когда учишься работать с Python? Правильно – движки. Они чаще всего представляют собой библиотеки.</p>

<a href="https://itproger.com/news/5-dvizhkov-dlya-sozdaniya-igr-v-python">
    <button class="btn btn-warning">Посмотреть</button>
</a>
<img class='img-thumbnail mt-4' src="https://itproger.com/img/news/1679677650.jpg" alt="">
<p>Удивительно, но хакеры смогли вывести язык программирования Go от компании Google в десятку лучших. Да, возможно дело не только в хакерах, но именно они применяли Go в течение последних лет.</p>

<a href="https://itproger.com/news/hakeri-podnyali-go-v-top-10-luchshih-yazikov-programmirovaniya">
    <button class="btn btn-warning">Посмотреть</button>
</a>


{% endblock %}
